USE [master]
GO
/****** Object:  Database [QLPKDT]    Script Date: 01/08/2023 10:23:23 CH ******/
CREATE DATABASE [QLPKDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPKDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLPKDT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPKDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLPKDT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPKDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPKDT]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 01/08/2023 10:23:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [nvarchar](20) NULL,
	[MaSP] [nvarchar](20) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 01/08/2023 10:23:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [nvarchar](20) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[SDTKH] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[NgayMua] [datetime] NULL,
	[MaNV] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 01/08/2023 10:23:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaSP] [nvarchar](20) NOT NULL,
	[Soluong] [int] NULL,
	[NgayNhap] [date] NULL,
	[TenSP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCC]    Script Date: 01/08/2023 10:23:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCC](
	[MaNCC] [nvarchar](20) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SDTLH] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/08/2023 10:23:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[QueQuan] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Tentk] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 01/08/2023 10:23:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](20) NOT NULL,
	[MaNCC] [nvarchar](20) NULL,
	[TenSP] [nvarchar](50) NULL,
	[HangSP] [nvarchar](50) NULL,
	[XuatXu] [nvarchar](50) NULL,
	[Giaban] [float] NULL,
	[TheLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 01/08/2023 10:23:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nvarchar](30) NOT NULL,
	[MatKhau] [nvarchar](30) NOT NULL,
	[PhanQuyen] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhoHang] ([MaSP], [Soluong], [NgayNhap], [TenSP]) VALUES (N'SP01', 320, CAST(N'2023-05-22' AS Date), N'Ốp tai thỏ')
INSERT [dbo].[KhoHang] ([MaSP], [Soluong], [NgayNhap], [TenSP]) VALUES (N'SP02', 700, CAST(N'2023-05-22' AS Date), N'Tai nghe')
INSERT [dbo].[KhoHang] ([MaSP], [Soluong], [NgayNhap], [TenSP]) VALUES (N'SP03', 15252, CAST(N'2023-05-22' AS Date), N'Tai nghe')
GO
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [Email], [SDTLH]) VALUES (N'NCC01', N'TuanBinh', N'tuanbinh@gmail.com', N'033322233')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [Email], [SDTLH]) VALUES (N'NCC02', N'Anh Dũng', N'dunganh@gmail.com', N'033322232')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [Email], [SDTLH]) VALUES (N'NCC03', N'Xiaomi Hoa Ban', N'xiaomihoaban@gmail.com', N'033322232')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [QueQuan], [Email], [Tentk]) VALUES (N'NV01', N'Huy', N'012345678', N'Hưng Yên', N'huy@gmail.com', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [QueQuan], [Email], [Tentk]) VALUES (N'NV02', N'Huy', N'012345678', N'Hưng Yên', N'huy@gmail.com', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [QueQuan], [Email], [Tentk]) VALUES (N'NV03', N'Huy', N'012345678', N'Hưng Yên', N'huy@gmail.com', NULL)
GO
INSERT [dbo].[SanPham] ([MaSP], [MaNCC], [TenSP], [HangSP], [XuatXu], [Giaban], [TheLoai]) VALUES (N'SP01', N'NCC02', N'Ốp tai thỏ', N'Oppo', N'Việt Nam', 30000, N'Ốp lưng')
INSERT [dbo].[SanPham] ([MaSP], [MaNCC], [TenSP], [HangSP], [XuatXu], [Giaban], [TheLoai]) VALUES (N'SP02', N'NCC03', N'Tai nghe', N'Nokia', N'Việt Nam', 35000, N'Củ Sạc')
INSERT [dbo].[SanPham] ([MaSP], [MaNCC], [TenSP], [HangSP], [XuatXu], [Giaban], [TheLoai]) VALUES (N'SP03', N'NCC05', N'Tai nghe', N'Oppo', N'Việt Nam', 30000, N'Loa Blutooth')
GO
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [PhanQuyen]) VALUES (N'1', N'1', N'Nhân Viên')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [PhanQuyen]) VALUES (N'a', N'a', N'Nhân Viên')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [PhanQuyen]) VALUES (N'Admin', N'123', N'Admin')
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([Tentk])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
USE [master]
GO
